target/
**/target/

.git
.gitignore

*.perf
*.data
*.data.old
out.perf
out.folded
*.svg

FlameGraph/
traff-off-func-API/
docker-testbed/
docs/
README.md
LICENSE-*
todo.md
.dockerignore
Dockerfile

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
